.main{
    display: flex;
    flex-direction: column;
    background-image: url('../../../assets/technology/background-technology-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    gap: 200px;
}

.link {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    padding-top: 38px;
    padding-bottom: 28px;
}

#checked {
    border-bottom: 2px solid #fff;
}