.filpic {
    background-size: cover;
    position: relative;
    padding: 160px 0 30px;
    background-repeat: no-repeat;
    color: white;
    background-position: 50% 50%;
    z-index: -1;
}

.filpic h3 {
    margin-left: 65px;
    font-size: 41px;
    line-height: 41px;
    margin-top: 15px;
}

.filpic h3 > p {
    margin-bottom: 5px;
    font-weight: 300;
}

.filpic .top {
    margin-top: 20px;
    margin-bottom: -3px;
    font-size: 13px;
}

.filpic .bottom {
    margin-left: 0;
    font-size: 13px;
}
