.main{
    display: flex;
    flex-direction: column;
    background-image: url('../../../assets/destination/background-destination-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    gap: 70px;
}

.link {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    padding-top: 38px;
    padding-bottom: 28px;
}

#checked {
    border-bottom: 2px solid #fff;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 80%;
    margin: auto;
}

#bigtxt {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #fff;
}

#span {
    color: #ffffff36;
}