@import url(./fonts/style.css);
@import url(./variables.css);
@import url(./header.css);
@import url(./hero.css);
@import url(./trends.css);
@import url(./disk.css);
@import url(./talent.css);
@import url(./finding.css);
@import url(./test.css);
@import url(footer.css);

* {
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    font-family: 'Neue Machina';
}

button {
    cursor: pointer;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}