.main {
    width: 266px;
    height: 146px;
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    background-color: var(--black);
    width: 1200px;
    height: 178px;
    left: 0px;
    top: 0px;
    display: grid;
    justify-content:center;
    grid-template-columns: 366px 366px 366px;
    grid-template-rows: 246px 246px 246px;
    margin-left: 55px;
    margin-bottom: -100px;
}

.bold2 {
    font-family: ' Neue Machina ';
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.blur {
    margin: 0;
}
