.ftr {
    height: 120px;
    background-color: #13183F;
}

.ftr h2 {
    width: 111px;
    height: 27px;
    color: white;
    margin-left: 53px;

}

.ftr > .row {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ftr button {
    border-style: none;
    width: 167px;
    height: 56px;
    border-radius: 28px;
    background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-right: 25px;
}

.ftr button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}